.containerForm{
  display: flex;
  align-items: center;
}

.searchForm{
  display: inline-flex;
}

.searchForm input{
  width: auto;
  border-radius: 3px;
}

.searchForm[type="text"] {
  border: 1px solid rgb(226, 226, 226);
  box-sizing: border-box;
  color: rgb(102, 102, 102);
  font-size: 11px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: normal;
  height: 35px;
  letter-spacing: 0.5px;
  line-height: 16px;
  margin: 0px;
  padding: 1px 40px 0px 10px;
  vertical-align: middle;
  width: 100%;
}

@media (min-width: 1024px){
  .searchForm input[type="text"] {
      letter-spacing: 0.5px;
  }

  .searchForm input {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
    height: auto;
    margin-right: 4px;
    padding: 0px 40px 0px 10px;
    width: auto;
}
}