.list{
  /* justify-content: right; */
  /* padding: 1px; */
  width: 180 px;
  display: flex;
  position: relative;
  z-index: 5;
}

.navText{
  position: relative;
  z-index: 5;
  display: flex;
  padding: 1px;
  width: 100%;
  text-align: start;
  /* justify-content: start; */
  align-items: start;
  /* padding: 8px 0px 8px 8px; */
  list-style: none;
  /* height: 25px; */
  text-decoration: none;
  color: black;
  font-size: 14px;

}

.navText :hover{
  background-color: lightgrey;
  /* color:white; */
}

.itemList{
  width: 100%;
}