.list{
  width: 180 px;
  display: flex;
  position: relative;
  z-index: 5;
}

.navText{
  background-color: transparent;
  display: inline-block;
  position: relative;
  z-index: 5;
  display: flex;
  width: 100%;
  min-width: 130px;
  text-align: start;
  list-style: none;
  text-decoration: none;
  font-size: 12px;
}
.navText a{
  z-index: 5;
}

.navText a :hover{
  z-index: 5;
}

.navText :hover{
  z-index: 5;
}

.itemList{
  display: block;
  margin-left: 2px;
  padding: 5px;
  height: 25px;
  z-index: 5;
  width: 100%;
}