
/* subMenuContainer && lastSubMenuContainer inside at src/components/sidebar/sidebarData.js as javascript*/

.navBar{
  display: flex;
  justify-content: start;
}

.menuBars{
  font-size: 2em;
}

.closeButton{
  margin-top: 10px;
  size: 30px;
  border: 1px solid;
  border-radius: 100%;
  padding: 3px;
}

.navMenu{
  width: 130px;
  height: 100vh;
  display:flex;
  justify-content: start;
  position: fixed;
  top:0;
  left: -100%;
  transition: 850ms;
  z-index: 4;
}

.navMenuActive{
  width: 130px;
  height: 100vh;
  display:flex;
  justify-content: start;
  position: fixed;
  top:0;
  left: -1%;
  transition: 350ms;
  z-index: 4;
}

.ulContainer{
  text-decoration: none;
  z-index: 4;
}

.navbarToggle{
  list-style-type: none;
}

.navText{
  position: relative;
  z-index: 5;
  display: flex;
  padding: 1px;
  width: 100%;
  text-align: start;
  align-items: start;
  list-style: none;
  text-decoration: none;
  font-size: 14px;

}
/* .navText :hover{
 
} */

.itemList{
  width: 100%;
  text-decoration: none;
}

/* .list :hover{
  background-color: orange;
  color: white;
} */



.containerItem{
  /* position: absolute; */
  /* left: 0px; */
  width: 100px;
  /* display: flex; */
  
  justify-content: flex-start;
  /* flex-direction: column; */
  /* justify-items: center; */
  /* width: auto; */
  font-size: 16px;
}

.item{
  /* background-color: white; */
  position: relative;
  z-index: 3;
  padding: 2px;
  width: 150px;
  font-size: 14px;
  display: block;
  text-align: start;
  /* vertical-align: sub; */

  /* text-align: justify; */
  /* width: fit-content; */
}

.item :hover {
  /* background-color: lightgrey; */
  border-radius: 2px;
  /* color: black; */
  /* width: fit-content; */
}

.link{
  display: block;
  /* color: black; */
  text-decoration: none;
}

/* .link {
  text-decoration: none;
  color: black;
  font-size: 18px;
} */

.navMenu :hover{
  /* background-color: black; */
  /* color:white; */
}

.listSubSection{
  display: none;
}

.visible{
  /* position: relative; */
  font-size: 20px;
  /* left: 90px; */
  background-color: green;
  color: brown;
}
/* .listSubSection :hover{
  visibility: visible;
 } */