.navBar{
  display: flex;
  /* justify-content: start; */
}

.menuBars{
  font-size: 2em;
}

.closeButton{
  margin-top: 10px;
  size: 30px;
  border: 1px solid;
  border-radius: 100%;
  padding: 3px;
}

.navMenu{
  width: 130px;
  height: 100vh;
  display:flex;
  /* justify-content: start; */
  position: fixed;
  top:0;
  left: -100%;
  transition: 850ms;
  z-index: 4;
}

.navMenuActive{
  width: 130px;
  height: 100vh;
  display:flex;
  /* justify-content: start; */
  position: fixed;
  top:0;
  left: -1%;
  transition: 350ms;
  z-index: 4;
}

.ulContainer{
  text-decoration: none;
  z-index: 4;
}

.navbarToggle{
  list-style-type: none;
}

.navText{
  position: relative;
  z-index: 5;
  display: flex;
  padding: 1px;
  width: 100%;
  text-align: start;
  /* align-items: start; */
  list-style: none;
  text-decoration: none;
  font-size: 14px;
}

.itemList{
  width: 100%;
  text-decoration: none;
}

.containerItem{
  width: 100px;  
  justify-content: flex-start;
  font-size: 16px;
}

.item{
  position: relative;
  z-index: 3;
  padding: 2px;
  width: 150px;
  font-size: 14px;
  display: block;
  text-align: start;
}

.item :hover {
  border-radius: 2px;
}

.link{
  display: block;
  text-decoration: none;
}

.listSubSection{
  display: none;
}

.visible{
  font-size: 20px;
  background-color: green;
  color: brown;
}