
.lead{
  margin: 10px 5%;
}

.article{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.metaData{
  align-self:stretch;
  display: flex;
  justify-content:space-between;
  margin: 10px 5% ;
}

.btn{
  background-color: aqua;
  margin: 0px 5%;
  width: 150px;
}