.body{
  /*debug*/
  /* background-color: lightsalmon;*/
  display: flex;
  flex-wrap: wrap;
  margin: 0% 5%;

}

.topNews{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* border debug */
  /* border:  2px solid blue;  */
}

.mainNews{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container{
  width: 100%;
}

.borderHorizontal{
  border-top: 1px solid;
  width: 100%;
  margin: 2% 0%;
}

.covidSection{
  width: 100%;
}

.sideNews{
  width: 100%;
  margin-top: 9px;
}

/* .newsRandomContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border:  2px solid blue;
} */

/* #### More news section ####*/

/* #### well-news section #### */

.wellCategory{
  width: 100%;
  max-height: 120px;
  display:flex;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
  
}

/* #### scrollbar horizontal ### */

.scrollbarStyle{
  scrollbar-color: black white ;
  scrollbar-width: thin;
}

/* #### webkit ####  */

.scrollbarStyle::-webkit-scrollbar{
  background-color:rgba(255, 255, 255, 0.087);
  height: 7px;
}

.scrollbarStyle::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
  height: 10px;
}

.scrollbarStyle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: black;
}

.scrollbarStyle::-webkit-scrollbar-thumb:hover {
  background: white;
  border: 1px solid black
}

.wellCategory div{
  width: 110px;
  height: 110px;
  /* line-height: 110px; */
  /* text-align: center; */
  /* vertical-align: bottom; */
  background-color: rgba(211, 211, 211, 0.539);
  margin: 2px 4px;
}

.wellCategory h3{
  /* color:red; */
  font-size: small;
  vertical-align: bottom;

}

.wellCategory p {
  display: none;
}

/* #### Category News section ####*/

.categoryNewsSection{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
  /* border debug */
  /* border:  2px solid blue;  */
  
}

.categoryNewsSection h3{
  width: 100%;
  margin-bottom: 12px;
}

.newsCategory{
  width: 20%;
  font-size: 0.8em;
}

.game{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* border debug */
  border:  2px solid blue; 
}


@media only screen and (min-width: 900px){
  
  .mainNews{
    width: 69%;
  }

  .container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-flow: column;
    width: 50%;
    /* margin-right: 2%; */
    margin: 10px 0px;
    border-bottom: 1px solid;
    /* justify-items: start; */
    /* grid-column: span 9; */
  }

  .borderVertical{
    border-left: 1px solid ;
    width: 1%;
    margin-left: 1%;
  }

  .borderHorizontal{
    border-top: 1px solid;
    width: 95%;
    margin:  2% 2% 2% 0%;
    /* margin-top: 1%; */
  }

  .sideNews{
    width: 29%;
    padding: 2px;
  }

  .moreNews{
    width: 70%;
  }
  
  .sideMoreNews{
    width: 30%;
  }

  .moreNewsContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* border debug */
  /* border:  2px solid blue; */
}

.moreNewsContainer h1{
  width: 100%;
}

.mainMoreNews{
  width: 100%;
  /* padding-left: 1% ; */
  display: flex;
}

.moreNewsContainer section{
  width: 20%;
  /* margin: 1% auto; */
  /* padding-left: 2% ; */
}

.mainMoreNews section{
  width: 100%;
}

.moreNewsContainer figure{
  width: 100%;
  margin-top: 10px;
  padding-right: 4%;
  /* padding: 4%; */
}

.newsRandom{
  width: 25%;
}

.sideMoreNews{
  width: 100%;
}

}