.body{
  display: flex;
  flex-wrap: wrap;
  margin: 0% 5%;
}

.topNews{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.borderHorizontal{
  border-top: 1px solid;
  width: 100%;
  margin: 2% 0%;
}

/* #### Category News section ####*/

.categoryNewsSection{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;  
}

.categoryNewsSection h3{
  width: 100%;
  margin-bottom: 12px;
}

@media only screen and (min-width: 900px){
  
  .borderHorizontal{
    border-top: 1px solid;
    width: 95%;
    margin:  2% 2% 2% 0%;
  }

  .moreNewsContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  }

.moreNewsContainer h1{
  width: 100%;
}

.moreNewsContainer figure{
  width: 100%;
  margin-top: 10px;
  padding-right: 4%;
}
}