.body{
  /*debug*/
  /* background-color: lightsalmon;*/
  display: flex;
  flex-wrap: wrap;
  margin: 0% 5%;

}

.topNews{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* border debug */
  /* border:  2px solid blue;  */
}

.mainNews{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container{
  width: 100%;
}

.borderHorizontal{
  border-top: 1px solid red;
  width: 100%;
  margin: 2% 0%;
}

.covidSection{
  width: 100%;
}

.sideNews{
  width: 100%;
  margin-top: 9px;
}

.newsRandomContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* border debug */
  border:  2px solid blue;
}

.newsRandom{
  width: 25%;
}

.moreNewsContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* border debug */
  border:  2px solid blue;
}

.moreNews{
  width: 100%;
}

.sideMoreNews{
  width: 100%;
}

.categoryNewsSection{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  /* border debug */
  /* border:  2px solid blue;  */
  
}

.categoryNewsSection h3{
  width: 100%;
  margin-bottom: 12px;
}

.newsCategory{
  width: 20%;
  font-size: 0.8em;
}

.game{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* border debug */
  border:  2px solid blue; 
}


@media only screen and (min-width: 900px){
  
  .mainNews{
    width: 69%;
  }

  .container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-flow: column;
    width: 50%;
    /* margin-right: 2%; */
    margin: 10px 0px;
    border-bottom: 1px solid black;
    /* justify-items: start; */
    /* grid-column: span 9; */
  }

  .borderVertical{
    border-left: 1px solid red;
    width: 1%;
    margin-left: 1%;
  }

  .borderHorizontal{
    border-top: 1px solid red;
    width: 95%;
    margin:  2% 2% 2% 0%;
    /* margin-top: 1%; */
  }

  .sideNews{
    width: 29%;
    padding: 2px;
  }

  .moreNews{
    width: 70%;
  }
  
  .sideMoreNews{
    width: 30%;
  }



}