.container{
  border: 2px solid;
  border-radius: 25px;
  margin: 10% 5%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text{
  padding: 1%;
  font-size: large;
}

.btn{
  font-size: large;
  border: 2px solid;
  padding: 5px;
}