.searchPage{
  /* height: 800px; */
  text-align: center;
  margin: 5%;
}

.containerForm{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.cardSection{
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media only screen and (min-width: 900px){
  
  .cardSection{
    margin: 10px 5%;
  }
}