.searchPage{
  text-align: center;
  margin: 5%;
}

.containerForm{
  display: flex;
  margin: 40px 5% 40px 5%;
}

.containerForm form{
  width: 100%;
}

.containerForm input{
  width: 90%;
  min-width: 200px;
  height: 50px;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0px;
}

.containerForm input:focus{
  border: none;
  /* background-color: red; */
}

.containerForm button{
  width: 10%;
}

.newsSection{
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media only screen and (min-width: 900px){
  
  .newsSection{
    margin: 10px 5%;
  }
}

@media only screen and (min-width: 1024px){

  .containerForm input{
    height: 50px;
  }
}