.pageContainer{
  margin: 0 5%;
}

.title{
  margin-left: 2%;
  font-size: 2.2em;
  padding: 20px 0;
}

.section{
  margin-left: 2%;
}

@media only screen and (min-width: 500px) {
  .title{
    margin-left: 4%;
  }

  .section{
    margin-left: 4%;
  }
}