.itemContainer{
  list-style-type: none;
  padding: 5% 15%;
  text-align: start;
}

.itemName{
  font-size: 0.9em;
  margin-bottom: 10px;
  
}

.subItemContainer{
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}