.containerHeader{
  padding: 5px;
  margin: 0% 5%;
}

.headerMobile{
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* background-color: orange; */
}

.headerMobile button{
  min-width: 30px;
  padding: 2px;
  background-color: transparent;
}

.headerLeftSection{
  display: flex;
  width: 20%;
}

.titleMobile{
  font-size: small;
}

.headerRightSection{
  display: flex;
  justify-content: end;
  width: 20%;
}

.navbarBottomSide{
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* margin: 0 5px 0 5px; */
  /* background-color: orange; */
}

