.containerTag{
  display: flex;
  justify-content: center;
}

.tag{
  display: flex;
  display: inline-block;
  justify-content: flex-end; /*warning */
  padding: 10px;
  list-style-type: none;
}

.tag li{
  display: inline-block;
  padding: 4px;
  font-size: 12px;
}
