.containerTag{
  display: flex;
  justify-content: center;
  border-top: 1px solid ;
  border-bottom: 4px double;
}

.tag span{
  padding: 0.3em;
  font-size: 12px;
}

.tag{
  display: flex;
  display: inline-block;
  padding: 0px;
  list-style-type: none;
}

.tag li{
  display: inline-block;
}

.tag a {
  font-size: 12px;
}