*{
  /* border: red 1px solid; */
  /* padding: 2px; */
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

.app{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html,body{
  height: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

a,span{
  display: block;
}

img{
  display: block;
}




/* body{
  color: #333;
  color: #5A5A5A
} */
/* h1{
  color: black;
}
p{
  color: #333;
} */

h2{
  font-size: 1.3em;
}

p{
  font-size: 0.8em;
  
}

/* button{
  min-width: 30px;
  padding: 2px;
  background-color: transparent;
} */

/* input{
  width: auto;
} */

.header{
  /* background-color: lightgreen; */ /*debug*/
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content{
  /* min-height: 100%; */
  /* margin-top: 0px; */
  /* height: fit-content; */
  padding: 0 0 100px 0;
  margin: 0 auto;
}

#root{
  position: relative;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;

  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
}

button {
  border: none;
  /* padding: 20px; */
  margin: 5px;
}

/* ul {
  text-decoration: red !important;
}  */




/* body{
  margin: 10px;
} */

/* .App {
  text-align: center;
} */

a{
  display:block;
  text-decoration: none;
  cursor: pointer;
  /* color:black; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .sun{
  background-color: white;
  color: black;
}

.nigth{
  background-color: black;
  color: white;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 900px){

  body{
    max-width: 1200px;
    margin: auto;
  }

  figure{
    width: 100%;
  }
}
