.item{
  background-color: white;
  position: relative;
  z-index: 3;
  padding: 2px;
  width: 150px;
  font-size: 11px;
  display: block;
  text-align: start;
  /* vertical-align: sub; */

  /* text-align: justify; */
  /* width: fit-content; */
}

.item :hover {
  background-color: lightgrey;
  border-radius: 2px;
  /* color: black; */
  /* width: fit-content; */
}

.link{
  display: block;
  color: black;
  text-decoration: none;
}
