.containerNews{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 10;
  margin: 10px 0;
  text-align: start;
}

.container{
  width: 100%;
  padding: 10px 0;
}

.textContainer{
  width: 100%;
  cursor: pointer;
}

.imageContainer{
  display: block;
  margin-left: 10px;
  width: 120px;
  min-width: 120px;
  height: fit-content;
  cursor: pointer;
}

.image img{
  max-width: 100%;
}

@media only screen and (min-width:600px){

  .container{
    display: flex;
  }

  .date{
    width: 20%;
  }
  
  .textContainer{
    width: 80%;
    max-width: 800px;
  }
}