.newsCategory{
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  /* margin-right: 3px; */

  margin-bottom: 30px;
  width: 48% ;
  font-size: 0.8em;
}

.newsCategory a{
  display: block;
}

.newsCategory img{
  display: block;
  width: 100%;
}

.newsCategory h3{
  font-size: 13px;
  margin-bottom:  1px;
}

.newsCategory h2{
  font-size: 14px;
  margin-top: 5px;
}

@media only screen and (min-width: 600px){

  .newsCategory{
    width: 24%;
    max-width: 150px;

    
  }

}

@media only screen and (min-width: 800px){

  .newsCategory{
    margin: 5px;
    width: 18%;
    max-width: 150px;
  }

}